/* section styles */
section .section-heading {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 10px;
}

section .section-subtitle {
    text-align: center;
    margin-bottom: 30px;
}

section .section-separator {
    width: 60px;
    height: 1px;
    background-color: #6c757d;
    margin: 0 auto 40px auto;
    opacity: 0.2;
}

/* education section */
.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: #007bff;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

.timeline-item {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

/* circles on timeline */
.timeline-item::after {
    content: ' ';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -12.5px;
    background-color: #343a40;
    border: 4px solid #007bff;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

.timeline-item::before {
    content: ' ';
    height: 0;
    position: absolute;
    top: 22px;
    width: 30px;
    z-index: 1;
    right: 30px;
    border: 8px solid transparent;
    border-left-color: #007bff;
    border-right: 0;
    margin-top: -8px;
    margin-right: -8px;
}

.timeline-item.left {
    left: 0;
}

.timeline-item.right {
    left: 50%;
}

/* arrow marks on right side timeline item */
.timeline-item.right::before {
    left: 30px;
    border: 8px solid transparent;
    border-right-color: #007bff;
    border-left: 0;
    margin-left: -8px;
    margin-right: 0;
}

.timeline-item.right::after {
    left: -12.5px;
}

.timeline-item .card {
    margin-bottom: 0;
}

#education .carousel-item .card {
    height: 100%;
}

#education .carousel-control-prev-icon,
#education .carousel-control-next-icon {
    background-color: #007bff;
    border-radius: 50%;
}

#education .card-body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    height: 100%;
}

#education .card-title {
    margin-top: 10px;
    margin-bottom: 5px;
}

#education .card-subtitle {
    margin-bottom: 40px;
}

#education .card-text {
    width: 80%;
    max-width: 500px;
    text-align: center;
    word-wrap: break-word;
    margin: 0 auto;
}
